@model LedAmbiental.Models.Movimentacao

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar esse registro?</h3>
<div>
    <h4>Movimentacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caminhao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caminhao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDMovimentacao" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
